# IDE
.idea/
*.iml
*.iws
*.ipr
.vscode/
.settings/
.project
.classpath
.factorypath
.apt_generated

# Build / Target
target/
build/
bin/
out/

# Maven / Java
.mvn/
*.log
*.class
*.jar
*.war
*.ear

# Systemowe
.DS_Store
Thumbs.db